<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="text-center">
    <%- include('header.ejs') %>
    <a href="/signout" class="bg-green-400">Sign Out</a>
    <a href="/changepassword" class="bg-green-400">Change Password</a>
    <a href="/educator/reports" class="bg-green-400" target="_self">Educator Reports</a>
    <h1 class="text-xl font-bold">Welcome, <%= userDetail %></h1>
    <hr>
    <h1>Add a New Course Here</h1>
    <form action="/addCourse" method="post">
        <input class="border-2 ml-2" type="text" placeholder="Course Name" name="name" required>
        <input class="border-2 ml-2" type="text" placeholder="Description" name="description" required>
        <button class="bg-green-400 ml-2" type="submit">Add</button>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>
    <%- include('notifications') %>
    <hr class="mt-2">
    <table class="mx-auto">
        <tr>
            <th>
                Course Number
            </th>
            <th>
                Course Name
            </th>
        </tr>
        <% for(var i=0; i < courses.length ;i++){ %>
            <tr onclick="window.open('/course/<%= courses[i].id %>', '_blank');" style="cursor: pointer;">
                <td>
                  <%= courses[i].id %>
                </td>
                <td class="group flex items-center">
                  <%= courses[i].name %>
                </td>
              </tr>                
        <% } %>
    </table>
</body>

</html>
